# Xcode

## Mac OS X
.DS_Store

## User settings
xcuserdata/

## Xcode build files
build/
DerivedData/

## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata